{% load account %}
{% load i18n %}

{% block content %}
{% autoescape off %}
{% user_display user as user_display %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Dear {{ user_display }},</p>
    <br />
    <p> Welcome to <strong>Map a Bat Roost</strong> member community and thanks for joining us on this citizen science initiative. </p><br/>
    <p>To complete your registration and activate your member account, please click this <a href="{[ activate_url }}">link</a> or copy it into your browser:</p>
    <p>{{ activate_url }}</p><br/><br/>
    <p>The activation link can be used only once.</p><br/>
    <p>You will need to use your email ID to login to the Map a Bat Roost app in future.</p><br/>
    <p>If you have any question, please don’t hesitate to get in touch at <a href="mailto:email@host" target="_blank">example@email.com </a></p>
    <p>We look forward to seeing your contribution to map the bat roosts across India and help us monitor them.</p><br/><br/>
    <p>Thank you for using Map a Bat Roost</p>
    <strong>Bat Conservation India Trust</strong>
</body>
</html>
{% endblocktrans %}{% endautoescape %}{% endblock %}