{% extends 'submission/base.html'%}

{% block title %} Submissions {% endblock %}
{% block body_block %}
    <div class="container">
        <h4>Accepted</h4>
    </div>
    {% if submission_list%}
    <div class="card z-depth-1 table-wrapper">
        <table id='submission' class="responsive-table striped">
            <tr>
                <th colspan="2">User</th>
                <th colspan="3">Description</th>
                <th colspan="1">Approx bats</th>
                <th colspan="2">Submission Time</th>
                <th colspan="2">Photo taken time</th>
            </tr>
            {%for submission in submission_list%}
            <tr>
                <td colspan="2">{{submission.user}}</td>
                <td colspan="3">{{submission.description}}</td>
                <td colspan="1">{{submission.approx_bats}}</td>
                <td colspan="2">{{submission.submission_time}}</td>
                <td colspan="2">{{submission.photo_taken_time}}</td>

            </tr>
            {%endfor%}
        </table>
    </div>

    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}">
                    <b><i class="material-icons">chevron_left</i></b>
                </a></li>
            {% else %}
                <li class="disabled "><a href="#"><i class="material-icons">chevron_left</i></a></li>
            {% endif %}
            {% if page_obj.number|add:"-4" > 1%}
                <li class="waves-effect"><a href="?page={{ page_obj.number|add:'-5' }}">2</a></li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="active"><a href="?page={{i}}">{{i}}</a></li>
                {% else %}
                <li class="waves-effect"><a href="?page={{i}}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                <li><a href="?page={{ page_obj.number|add:'5' }}">. . .</a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}">
                    <b><i class="material-icons">chevron_right</i></b>
                </a></li>
            {% else %}
                <li class="disabled "><a href="#"><i class="material-icons">chevron_right</i></a></li>
            {% endif %}
        </ul>
    {% endif %}


    {%endif%}

{% endblock%}

{% block extra_css_js %}
    <style>
    .table-wrapper{
        margin:20px;
        border-radius: 10px;
    }
    .table-wrapper table{

        padding:10px;
    }
    </style>
{% endblock %}
