{% extends 'submission/base.html'%}

{% block title %} Submissions {% endblock %}
{% block body_block %}
    <div class="container">
        <h4>Accepted</h4>
    </div>
    {% if submission_list%}
    <div class="card z-depth-1 table-wrapper">
        <table id='submission' class="responsive-table striped">
            <tr>
                <th colspan="1">User</th>
                <th colspan="2">Description</th>
                <th colspan="1">Approx bats</th>
                <th colspan="1">Submission Time</th>
                <th colspan="1">Photo taken time</th>
            </tr>
            {%for submission in submission_list%}
            <tr>
                <td colspan="1">{{submission.user}}</td>
                <td colspan="2">{{submission.description}}</td>
                <td colspan="1">{{submission.approx_bats}}</td>
                <td colspan="1">{{submission.submission_time}}</td>
                <td colspan="1">{{submission.photo_taken_time}}</td>

            </tr>
            {%endfor%}
        </table>
    </div>
    {% if is_paginated %}
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li>
                <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
            </li>
        {% endif %}
            <li class="">
                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
            </li>
        {% if page_obj.has_next %}
            <li>
                <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
            </li>
        {% endif %}
        </ul>
    {% endif %}

    {%endif%}

{% endblock%}

{% block extra_css_js %}
    <style>
    .table-wrapper{
        margin:20px;
        border-radius: 10px;
    }
    .table-wrapper table{

        padding:10px;
    }
    </style>
{% endblock %}
